
<div class="w-full flex flex-row justify-center">
    <div class="flex flex-col w-full max-w-xl" >
        <section data-testid="todo-list" class="space-y-4 my-4">
            <h1 class="text-center">Tarefas</h1>
            <div class="card bg-neutral text-neutral-content" data-testid="todo-list-item">
                <div class="card-body items-center text-center">
                <h2 class="card-title">Item 1</h2>          
                </div>
            </div>
            <div class="card bg-neutral text-neutral-content" data-testid="todo-list-item">
                <div class="card-body items-center text-center">
                <h2 class="card-title">Item 2</h2>          
                </div>
            </div>
            <div class="card bg-neutral text-neutral-content" data-testid="todo-list-item">
                <div class="card-body items-center text-center">
                <h2 class="card-title">Item 3</h2>          
                </div>
            </div>
            <div class="card bg-neutral text-neutral-content" data-testid="todo-list-item">
                <div class="card-body items-center text-center">
                <h2 class="card-title">Item 4</h2>          
                </div>
            </div>
            <div class="card bg-neutral text-neutral-content" data-testid="todo-list-item">
                <div class="card-body items-center text-center">
                <h2 class="card-title">Item 5</h2>          
                </div>
            </div>  
        </section>

        <section  data-testid="completed-list" class="space-y-4 my-4">
            <h1 class="text-center">Tarefas Concluídas</h1>
            <div class="card bg-neutral text-neutral-content" data-testid="completed-list-item">
                <div class="card-body items-center text-center">
                <h2 class="card-title">Item 1</h2>          
                </div>
            </div>
            <div class="card bg-neutral text-neutral-content" data-testid="completed-list-item">
                <div class="card-body items-center text-center">
                <h2 class="card-title">Item 2</h2>          
                </div>
            </div>
            <div class="card bg-neutral text-neutral-content" data-testid="completed-list-item">
                <div class="card-body items-center text-center">
                <h2 class="card-title">Item 3</h2>          
                </div>
            </div>
            <div class="card bg-neutral text-neutral-content" data-testid="completed-list-item">
                <div class="card-body items-center text-center">
                <h2 class="card-title">Item 4</h2>          
                </div>
            </div>
            <div class="card bg-neutral text-neutral-content" data-testid="completed-list-item">
                <div class="card-body items-center text-center">
                <h2 class="card-title">Item 5</h2>          
                </div>
            </div>
        </section>   
    </div>
</div>